<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Rabbit</title>
</head>
<body>
    <section class="follow-rabbit a-b">
        <p>Follow the rabbit down the rabbit hole?</p>
        <div>
            <button class="choice" id="yes">Yes</button>
            <button class="choice" id="no">No</button>
        </div>
    </section>

    <section class="after-no after">
        <p>Alice walks back to her sister.</p>
    </section>

    <section class="rabbit-hole after">
        <p>You go down the rabbit hole and see a small door with garden inside, but you're too big to fit through</p>
    </section>

    <section class="potion-cake select">
        <p>You see a potion labeled "DRINK ME"</p>
        <p>and a cake labeled "EAT ME"</p>
        <br>
        <p>Which will you reach for?</p>
        <div>
            <button class="blue-btn" id="potion">Potion</button>
            <button class="blue-btn" id="cake">Cake</button>
        </div>
    </section>

    <section class="potion-only select">
        <p>You grow to be almost bigger than the room itself. You're only option is to drink the potion.</p>
        <br>
        <div>
            <button class="blue-btn" id="potion-2">Potion</button>
        </div>
    </section>

    <section class="after-potion after">
        <p>You become small enough to fit through the door can continue looking for the rabbit.</p>
        <p>You keep walking until you end up at a house. The white rabbit appears.</p>
    </section>

    <section class="rabbit-gloves select">
        <h3>White Rabbit:</h3>
        <p>"Marry Ann" is that you?! Can you go inside and get me my gloves?</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="get-em">Get the gloves</button>
            <button class="rabbit-gloves-btn blue-btn" id="cant-find">I can't find them</button>
        </div>
    </section>

    <section class="after-gloves after">
        <p>You find the gloves, but also see a cookie and decide to take a bite. You grow big again and almost grow bigger than the house.</p>
        <p>You eat a carrot and shrink back to normal.</p>
    </section>

    <section class="rabbit-late select">
        <h3>White Rabbit:</h3>
        <p>Oh no! I have to go! I'm late! I'm late! I'm late!</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue">Continue</button>
        </div>
    </section>

    <section class="after-late after">
        <p>The rabbit runs into the woods and you follow him</p>
    </section>

    <section class="cheshire select">
        <h3>Cheshire Cat:</h3>
        <p>Looking for a rabbit? I think he went left.</p>
        <p>No, maybe right?</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-cat">Continue</button>
        </div>
    </section>

    <section class="which-road a-b">
        <p>Which road do you take?</p>
        <div>
            <button class="choice" id="left">Left</button>
            <button class="choice" id="right">Right</button>
        </div>
    </section>

    <section class="after-left after">
        <p>You come across a tea party where you meet the Mad Hatter.</p>
        <p>After listening to some riddles and having a "few" cups of tea, the white rabbit appears again.</p>
    </section>

    <section class="continue-stay a-b">
        <p>Continue following the rabbit or stay with Mad Hatter?</p>
        <div>
            <button class="choice" id="continue-chase">Continue</button>
            <button class="choice" id="stay">Stay</button>
        </div>
    </section>

    <section class="after-stay after">
        <p>Alice gets stuck in the Wonderland.</p>
    </section>

    <section class="after-continue after">
        <p>After walking through the woods for a little bit you eventually reach a garden.</p>
    </section>

    <section class="queens-castle after">
        <p>You enters the Queens castle grounds.</p>
    </section>

    <section class="c1-1 select">
        <h3>Playing card 1:</h3>
        <p>Painting the roses red! We are painting the roses red!</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-c1-1">Continue</button>
        </div>
    </section>

    <section class="c2-1 select">
        <h3>Playing card 2:</h3>
        <p>The queen wanted red ones. So we are painting the roses red!</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-c2-1">Continue</button>
        </div>
    </section>

    <section class="after-c2-1 after">
        <p>The white rabbit appears.</p>
    </section>

    <section class="wr-1 select">
        <h3>White Rabbit:</h3>
        <p>Everyone, the Queen of Hearts has arrived!</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-wr-1">Continue</button>
        </div>
    </section>

    <section class="qh-1 select">
        <h3>Queen of Hearts:</h3>
        <p>I wanted red roses! Send the playing cards to the dungeon!</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-qh-1">Continue</button>
        </div>
    </section>

    <section class="qh-2 select">
        <h3>Queen of Hearts:</h3>
        <p>Rabbit, can I have my gloves?</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-qh-2">Continue</button>
        </div>
    </section>

    <section class="wr-2 select">
        <h3>White Rabbit:</h3>
        <p>Yes, here you go</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-wr-2">Continue</button>
        </div>
    </section>

    <section class="qh-3 select">
        <h3>Queen of Hearts:</h3>
        <p>And who is this? Who is this little girl?</p>
        <br>
        <div>
            <button class="rabbit-gloves-btn blue-btn" id="continue-qh-3">Continue</button>
        </div>
    </section>

    <section class="win-lose select">
        <p>The Queen of Hearts asks you to play a game of croquet.</p>
        <br>
        <p>Which will you do?</p>
        <div>
            <button class="blue-btn" id="lose">Let the Queen win</button>
            <button class="blue-btn" id="win">Win the game</button>
        </div>
    </section>

    <section class="after-win after">
        <p>Alice gets sent to the dungeon.</p>
    </section>

    <section class="after-lose after">
        <p>The Queen is happy but Alice makes her mad and ends up having a trail to determine her fate.</p>
    </section>

    <section class="after-lose-1 after">
        <p>Alice takes a bite of a mushroom and grows really big and in result intimidates</p>
        <p>The Queen. Although is doesn't last long and Alice shrinks down smaller than normal</p>
        <p>The Queen and army chase Alice out of Wonderland. Alice runs away from the Queen and eventually reaches three doors.</p>
    </section>

    <section class="doors select">
        <p>Choose one door from these three:</p>
        <br>
        <div>
            <button class="blue-btn" id="d1">Door#1</button>
            <button class="blue-btn" id="d2">Door#2</button>
            <button class="blue-btn" id="d3">Door#3</button>
        </div>
    </section>

    <section class="after-d1 after">
        <p>Alice is wearing a red hood and is late to deliver her grandmother food through the woods.</p>
    </section>

    <section class="after-d2 after">
        <p>Alice wakes up and realizes she was dreaming about the book she was reading.</p>
    </section>

    <section class="after-d3 after">
        <p>Alice wakes up still in Wonderland.</p>
    </section>

    <script src="../js/index.js"></script>
</body>
</html>